.ronded-border{
    border-radius: 25px;
}

  .card-body{
      padding: 1rem;
  }
  .card{
    padding: 1rem;
}
.head-lable{
    font-weight: bold;
    text-align: center;
}
.pad-card{
  padding: 0rem 0.5rem;
  margin-bottom: 0.5rem ;
}
.pad-card-body{
  padding: 0rem 1rem;
}
.top-bar{
justify-content: space-between;
margin: 1rem;
display: flex;
}
.rotate-icon{
  transform: rotate(90deg);
}


  