<ul class="layout-menu">
    <p-tree [value]="files1" [filter]="true" selectionMode="checkbox" (onNodeSelect)="onNodeSelect($event)" filterMode="strict"></p-tree>
  
</ul>
<!-- <ul class="layout-menu">
    <ng-container>
    <li class="menu-separator p-2">Grop Name</li>
    <li class="menu-separator p-2">Company & Product Name</li>
    <li class="menu-separator p-2">A.M. Best Rating</li>
    <li class="menu-separator p-2">Surrender Year</li>
    <li class="menu-separator p-2">Rider Fee</li>
    <li class="menu-separator p-2">Strategy Fee</li>
     <li>Grop Name</li> 
</ng-container>
</ul> -->