<!-- <ul class="layout-menu">
    <p-tree [value]="files1" [filter]="true" selectionMode="checkbox"  filterMode="strict"></p-tree>
  
</ul> -->
<div class="shadow-sm mb-2 bg-white rounded">
    <div class="row align-items-center">
        <div class="col-1"><i class="bi bi-filter fa-lg"></i></div>
        <div class="col-7">
            <label class="font-bold">FILTER & SHORT</label>
        </div>
        <div class="col-4">
            <label>Clear filter</label>
        </div>
    </div>
    <hr />
    <div class="text-center">
        <div class="p-2">
            <label class="text-muted">Pickup where you left off.</label>
        </div>
        <div class="pt-2 pb-3">
            <button
                pButton
                pRipple
                type="button"
                label="SAVE SEARCH"
                class="p-button-outlined p-button-secondary search-btn"
            ></button>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-1" (click)="ontabSelect('Short by')">
            <i class="bi bi-filter-left fa-lg"></i>
        </div>
        <div class="col-5" (click)="ontabSelect('Short by')">
            <label>Short by</label>
        </div>
        <div class="col-6">
            <label class="text-prime">Withdrawal ammomnt</label>
        </div>
    </div>
</div>
    <div *ngIf="selectedtab == 'Sidebar'">
    <ul class="layout-menu">
        <li
            class="menu-separator sidebar-menu row"
            (click)="ontabSelect('Group Name')"
        >
            <div class="col-10"><label>Group Name</label></div>
            <div class="col-2"><i class="pi pi-chevron-right"></i></div>
        </li>
        <li
            class="menu-separator sidebar-menu-data row"
            (click)="ontabSelect('Company & Product Name')"
        >
            <div class="col-10"><label>Company & Product Name</label></div>
            <div class="col-2"><i class="pi pi-chevron-right"></i></div>
        </li>
        <li
            class="menu-separator sidebar-menu-data row"
            (click)="ontabSelect('A.M. Best Rating')"
        >
            <div class="col-10"><label>A.M. Best Rating</label></div>
            <div class="col-2"><i class="pi pi-chevron-right"></i></div>
        </li>
        <li
            class="menu-separator sidebar-menu-data row"
            (click)="ontabSelect('Surrender Year')"
        >
            <div class="col-10"><label>Surrender Year</label></div>
            <div class="col-2"><i class="pi pi-chevron-right"></i></div>
        </li>
        <li
            class="menu-separator sidebar-menu-data row"
            (click)="ontabSelect('Rider Fee')"
        >
            <div class="col-10"><label>Rider Fee</label></div>
            <div class="col-2"><i class="pi pi-chevron-right"></i></div>
        </li>
        <li
            class="menu-separator sidebar-menu-data row"
            (click)="ontabSelect('Strategy Fee')"
        >
            <div class="col-10"><label>Strategy Fee</label></div>
            <div class="col-2"><i class="pi pi-chevron-right"></i></div>
        </li>
        <!-- <li class="menu-separator sidebar-menu-data row" (click)="ontabSelect('Confinement Multiplier')"> -->
        <li class="menu-separator sidebar-menu-data row">
            <div class="col-10"><label>Confinement Multiplier</label></div>
            <div class="col-2"><i class="pi pi-chevron-right"></i></div>
        </li>
    </ul>
</div>

<div *ngIf="selectedtab == 'Group Name'">
    <div>
        <div class="sidebar-menu-data row " (click)="onbackClick()">
            <div class="col-2"><i class="pi pi-chevron-left"></i></div>

            <div class="col-10">
                <label class="font-bold">Group Name</label>
            </div>
        </div>
        <!-- <div *ngFor="let item of groupnamedata"> -->
        <div>
            <div class="card">
                <div class="card-body">
                    <p-listbox
                        [options]="countries"
                        [(ngModel)]="selectedCountries"
                        [metaKeySelection]="false"
                        [checkbox]="true"
                        [filter]="true"
                        [multiple]="true"
                        optionLabel="name"
                        [listStyle]="{ 'max-height': '150rem' }"
                    >
                        <ng-template let-country pTemplate="item">
                            <div class="country-item">
                                <div>{{ country.name }}</div>
                            </div>
                        </ng-template>
                    </p-listbox>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="selectedtab == 'Company & Product Name'">
    <div>
        <div class="sidebar-menu-data row" (click)="onbackClick()">
            <div class="col-2"><i class="pi pi-chevron-left"></i></div>

            <div class="col-10">
                <label class="font-bold">Company & Product Name</label>
            </div>
        </div>
        <!-- <div *ngFor="let item of groupnamedata"> -->
        <div>
            <div class="card">
                <div class="card-body">
                    <p-tree
                        [value]="files1"
                        selectionMode="checkbox"
                        [filter]="true"
                    >
                    </p-tree>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="selectedtab == 'A.M. Best Rating'">
    <div>
        <div class="sidebar-menu-data row " (click)="onbackClick()">
            <div class="col-2"><i class="pi pi-chevron-left"></i></div>

            <div class="col-10">
                <label class="font-bold">A.M. Best Rating</label>
            </div>
        </div>
        <!-- <div *ngFor="let item of groupnamedata"> -->
        <div>
            <div class="card">
                <div class="card-body">
                    <p-listbox
                        [options]="countries"
                        [(ngModel)]="selectedCountries"
                        [metaKeySelection]="false"
                        [checkbox]="true"
                        [multiple]="true"
                        [filter]="true"
                        optionLabel="name"
                        [listStyle]="{ 'max-height': '150rem' }"
                    >
                        <ng-template let-country pTemplate="item">
                            <div class="country-item">
                                <div>{{ country.name }}</div>
                            </div>
                        </ng-template>
                    </p-listbox>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="selectedtab == 'Surrender Year'">
    <div>
        <div class="sidebar-menu-data  row" (click)="onbackClick()">
            <div class="col-2"><i class="pi pi-chevron-left"></i></div>

            <div class="col-10">
                <label class="font-bold">Surrender Year</label>
            </div>
        </div>
        <!-- <div *ngFor="let item of groupnamedata"> -->
        <div>
            <div class="card">
                <div class="card-body">
                    <p-listbox
                        [options]="countries"
                        [(ngModel)]="selectedCountries"
                        [metaKeySelection]="false"
                        [checkbox]="true"
                        [multiple]="true"
                        [filter]="true"
                        optionLabel="name"
                        [listStyle]="{ 'max-height': '150rem' }"
                    >
                        <ng-template let-country pTemplate="item">
                            <div class="country-item">
                                <div>{{ country.name }}</div>
                            </div>
                        </ng-template>
                    </p-listbox>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="selectedtab == 'Rider Fee'">
    <div>
        <div class="sidebar-menu-data row " (click)="onbackClick()">
            <div class="col-2"><i class="pi pi-chevron-left"></i></div>

            <div class="col-10"><label class="font-bold">Rider Fee</label></div>
        </div>
        <!-- <div *ngFor="let item of groupnamedata"> -->
        <div class="p-3">
            <div class="card">
                <div class="card-body">
                    <div>
                        <label class="text-muted font-bold">Maximum Fee</label>
                    </div>
                    <div>
                        <p-dropdown
                            [options]="cities"
                            [(ngModel)]="selectedCity1"
                            placeholder="Select"
                            optionLabel="name"
                            [showClear]="true"
                            [style]="{ width: '15rem' }"
                        ></p-dropdown>
                        <label class="font-italic drp-down">or less</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="selectedtab == 'Strategy Fee'">
    <div>
        <div class="sidebar-menu-data row " (click)="onbackClick()">
            <div class="col-2"><i class="pi pi-chevron-left"></i></div>

            <div class="col-10">
                <label class="font-bold">Strategy Fee</label>
            </div>
        </div>
        <!-- <div *ngFor="let item of groupnamedata"> -->
        <div class="p-3">
            <div class="card">
                <div class="card-body">
                    <div>
                        <label class="text-muted font-bold">Maximum Fee</label>
                    </div>
                    <div>
                        <p-dropdown
                            [options]="cities"
                            [(ngModel)]="selectedCity1"
                            placeholder="Select"
                            optionLabel="name"
                            [showClear]="true"
                            [style]="{ width: '15rem' }"
                        ></p-dropdown>
                        <label class="font-italic drp-down">or less</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="selectedtab == 'Short by'">
    <div>
        <div class="sidebar-menu-data row " (click)="onbackClick()">
            <div class="col-2"><i class="pi pi-chevron-left"></i></div>

            <div class="col-10">
                <label class="font-bold">Short by</label>
            </div>
        </div>
        <div class="p-3">
            <div class="card">
                <div class="card-body">
                    <div>
                        <label class="text-muted font-bold"></label>
                    </div>
                    <div
                        *ngFor="let category of categories"
                        class="p-field-checkbox"
                    >
                        <div class="row">
                            <div class="col-8 p-2 pl-5">
                                <label class="font-bold">{{
                                    category.name
                                }}</label>
                            </div>
                            <div class="col-4 p-2"> 
                                <p-radioButton
                                    [inputId]="category.key"
                                    name="category"
                                    [value]="category"
                                    [(ngModel)]="selectedCategory"
                                ></p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
