.sidebar-menu {
    border-top: 1px solid rgb(172, 172, 172);
    border-bottom: 1px solid rgb(172, 172, 172);
    padding: 10px 0px 10px 28px;
    font-size: 15px;
}

.sidebar-menu-data {
    border-bottom: 1px solid rgb(172, 172, 172);;
    padding: 10px 0px 10px 28px;
    font-size: 15px;
}
.sidebar-menu-data-back {
    border-bottom: 1px solid rgb(172, 172, 172);
    padding: 10px 65px 9px 18px;
    font-size: 15px;
}
.short-font-size{
    font-size: 15px;
    font-weight: bold;

}
.col-10 {
    padding: 0rem !important;
}

.col-2 {
    padding: 0rem !important;
}
.col-1 {
    padding: 0rem 1rem !important;
}
.col-7 {
    padding: 0rem 1rem !important;
}
.col-4 {
    padding: 0rem 1rem ;
}
.col-5 {
    padding: 0rem 1rem !important;
}
.col-6 {
    padding: 0rem 1rem ;
}
.menu-separator:hover {
    color: var(--text-color);
    background-color: var(--surface-hover);
}

.row {
    --bs-gutter-x: 0rem !important;
    /* --bs-gutter-y: 0;*/
}

.card {
    background: var(--surface-card);
    border: 0px !important;
    padding: 0rem !important;
    margin-bottom: 0rem !important;

    border-radius: 0px !important;
    height: calc(100vh - 32rem);
    overflow: auto;

}

.card::-webkit-scrollbar {
    display: none;
}

.card-body {
    padding: 0% !important;
}

::ng-deep .p-listbox {
    background: #ffffff;
    color: #495057;
     border: 0px !important; 
     border-radius: 0px; 
}

.drp-down{
    margin-left: 25px;
}
.fa-lg{
    font-size:25px;
}
.search-btn{
    height: 2rem;
    width: 10rem;
}
.text-prime{
    color: #3b91ed;
}
.overflow-card{
    overflow: auto;
}

.card-overflow{
   
    height: calc(100vh - 29.4rem) !important;
    overflow: auto;
}

.shortby-overflow{
    height: calc(100vh - 34rem);

}